:root{
  --color-gradient-start: #5A1FA5;
  --color-gradient-mid: #470f8f;
  --color-gradient-end: #380a6b;
  --color-gradient-end2: #1b0731;
  --color-primary: #000000;
  --color-secondary: #242121;
  --color-secondary-span: rgb(114, 114, 114);
  --color-background-hover: rgba(68, 68, 68, 0.616);
}
@font-face {
  font-family: 'Spotify Mix';
  src: url('../fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
body {
  background-color: #121212;
  color: #fff;
  padding: 0;
  margin: 0;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Spotify Mix';
  width: 100%;
  overflow: hidden;
}

.resizer {
  width: 5px;
  cursor: col-resize;
}

.resizer-right {
  width: 5px;
  cursor: col-resize;
}


header {
  background-color: var(--color-primary);
  height: 7vh;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header .btn-home{
  height: 60%;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 50%;
  position: relative;
}

header .btn-home .icon-home{
  width: 80%;
  height: 80%;
}

header .search-container{
  height: 60%;
  width: 30%;
  display: flex;
  align-items: center;
  position: relative;
}

header .search-container .icon-search{
  height: 100%;
  width: auto;
  filter: invert(100%);
  z-index: 1;
  position: relative;
  height: 30px;
  width: 30px;
  gap: 10px;
}

header .search-container form{
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
  margin-left: -40px;
}

header .search-container form .input-add-song{
  background-color: var(--color-secondary);
  border-radius: 54px;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  padding-left: 60px;
  box-sizing: border-box;
  padding-right: 50px;
}
.input-add-song::placeholder{
  color: rgb(209, 195, 195);
  opacity: 1;
  font-size: medium;
}

.input-add-song:focus{
  background-color: inherit;
}

.input-add-song:-webkit-autofill{
  background: none !important;
  box-shadow: inset 0 0 0px 1000px var(--color-secondary) !important;
  -webkit-text-fill-color: #fff !important;
}

.search-container .btn-close{
  z-index: 1;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  /* display: none; */
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.search-container .btn-close .icon-close{
  width: 35px;
  height: 35px;
}
main{
  width: 100%;
  height: 83vh;
  display: flex;
  background-color: var(--color-primary);
}

main nav {
  width: 10%;
  background-color: var(--color-secondary);
  border-radius: 15px 15px 15px 15px;
  margin-left: 0.2%;
  min-width: 5%;
}

main section{
  width: 80%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-left: 0.5%;
  margin-right: 0.5%;
  flex: 1;
}

main section .article-main{
    background: linear-gradient(
    to bottom,
    var(--color-gradient-start),
    var(--color-gradient-mid),
    var(--color-gradient-end)
  );
  height: 40%;
  display: flex;
  align-items: end;
  border-radius: 15px 15px 0px 0px;
}

main section .img-song{
  width: 20%;
  height: 70%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 1%;
}

main section .info-song{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 1%;
  width: 100%;
}

.info-song p{
  font-size: 5.5em;
  font-weight: 900;
  line-height: 1;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 90%;
}

main section .article-secondary{
    background: linear-gradient(
    to bottom,
    var(--color-gradient-end),
    var( --color-gradient-end2),
    var(--color-primary)
  );
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  /* border-top: solid 5px black; */
}

.article-secondary::-webkit-scrollbar{
  width: 10px;
}

.article-secondary::-webkit-scrollbar-track{
  background: transparent;
}

.article-secondary::-webkit-scrollbar-thumb{
  background-color: transparent;
  transition: background-color 1s ease;
}

.article-secondary:hover::-webkit-scrollbar-thumb{
  background-color: rgb(87, 83, 83);
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.table-container{
  overflow-y: auto;
}

thead{
  width: 100%;
  height: 50px;
  position: sticky;
  z-index: 2;
  top: 0;
  background: transparent;
}

thead tr{
  background: transparent; /* de inicio transparente */
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

thead.sticky-active tr {
  background: var(--color-secondary); /* color cuando se activa */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* efecto sombreado */
}

table tbody{
  width: 100%;
  height: 100%;
}

table thead tr > th{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
  margin-bottom: 10px;
}

table tbody tr:hover > td{
  background-color: var(--color-background-hover);
  cursor: pointer;
}

table tbody td>div, table tbody td>img{
  float: left;
}

table tbody td {
  height: 45px;
}

table tbody td:not(:first-child), table thead th:not(:first-child){
  text-align: left;
}

table tbody td img{
  width: 8%;
  height: 100%;
  border-radius: 10%;
  margin-right: 2%;
  outline: 2px solid rgba(0,0,0,0.4);
}

table tbody td div{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100%;
  gap: 10%;
}

tr td div span:nth-of-type(2){
  color: var(--color-secondary-span);
}

main aside{
  width: 15%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  min-width: 10%;
}

aside div:has(img){
  width: 100%;
  height: 30%;
  margin-top: 15%;
}

aside div img{
  width: 80%;
  height: 100%;
}

aside div:nth-of-type(3){
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  gap: 2%;
}

aside div:nth-of-type(3) span{
  width: 80%;
  text-align: left;
}

aside div:nth-of-type(4){
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

aside div:nth-of-type(4) div{
  width: 80%;
  height: auto;
  background-color: var(--color-background-hover);
  text-align: left;
}

aside div>span:nth-of-type(1){
  font-size: x-large;
}

aside div>span:nth-of-type(2){
  color: var(--color-secondary-span);
  font-size: medium;
}

footer{
  width: 100%;
  background-color: var(--color-primary);
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

footer div .controls .main-controls button img{
  width: 20px;
  height: 20px;
}

footer div{
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer #datosReproductor{
  justify-content: left !important;
  height: 100%;
  gap: 4%;
}

footer #datosReproductor img{
  height: 60%;
  width: 10%;
  margin-left: 3%;
  border-radius: 8%;
  outline: 2px solid rgba(0,0,0,0.4);
}
footer #datosReproductor div{
  height: 90%;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
}

#datosReproductor div span:nth-of-type(2){
  color: var(--color-secondary-span);
}

footer div .controls{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.main-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.main-controls button{
  display: flex;
  align-items: center;
  width: 30px !important;
  height: 30px !important;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.main-controls .big{
  border-radius: 100%;
  background-color: white;
  width: 35px !important;
  height: 35px !important;
}

.main-controls button img:hover{
  filter: invert(0.9);
}

.main-controls .big img:hover{
  filter: invert(0);
}

.main-controls .big:hover{
  background-color: rgb(219, 212, 212);
}

.main-controls button img{
  filter: invert(0.7);
  width: 20px;
  height: 20px;
}

.main-controls .big img{
  filter: invert(0);
  width: 20px !important;
  height: 20px !important;
}

.main-controls .big .icon-pause{
  display: none;
}

.time-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.time-controls #progress{
  width: 90%;
  appearance: none;
  -webkit-appearance: none;
  height: 8px;
  border-radius: 3px;
  outline: none;
}

.time-controls #progress:hover{
  cursor: pointer;
}

#progress::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

#progress:hover::-webkit-slider-thumb{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-top: -4px;
}

#opcionesReproductor .volumen .volume:hover {
  filter: invert(1);
  cursor: pointer;
}

#opcionesReproductor .volumen .volume{
  width: 20px;
  height: 20px;
  filter: invert(0.7);
}

#opcionesReproductor .volumen #volumenRango{
  appearance: none;
  -webkit-appearance: none;
  width: 60%;
  height: 6px;
  border-radius: 3px;
  outline: none;
}
#volumenRango::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
}
#volumenRango::-webkit-slider-runnable-track:hover {
  cursor: pointer;
}
#volumenRango::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-top: -4px;
}