:root{
  --color-gradient-start: #5A1FA5;
  --color-gradient-mid: #3D0C7C;
  --color-gradient-end: #2E085A;
  --color-primary: #121212;
  --color-secondary: #242121;
}
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

header {
  background-color: var(--color-primary);
  height: 7vh;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header .btn-home{
  height: 60%;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 50%;
  position: relative;
}

header .btn-home .icon-home{
  width: 80%;
  height: 80%;
}

header .search-container{
  height: 60%;
  width: 30%;
  display: flex;
  align-items: center;
  position: relative;
}

header .search-container .icon-search{
  height: 100%;
  width: auto;
  filter: invert(100%);
  z-index: 1;
  position: relative;
  height: 30px;
  width: 30px;
  gap: 10px;
}

header .search-container form{
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
  margin-left: -40px;
}

header .search-container form .input-add-song{
  background-color: var(--color-secondary);
  border-radius: 54px;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  padding-left: 60px;
  box-sizing: border-box;
  padding-right: 50px;
}
.input-add-song::placeholder{
  color: rgb(209, 195, 195);
  opacity: 1;
  font-size: medium;
}

.input-add-song:focus{
  background-color: inherit;
}

.input-add-song:-webkit-autofill{
  background: none !important;
  box-shadow: inset 0 0 0px 1000px var(--color-secondary) !important;
  -webkit-text-fill-color: #fff !important;
}

.search-container .btn-close{
  z-index: 1;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  /* display: none; */
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.search-container .btn-close .icon-close{
  width: 35px;
  height: 35px;
}
main{
  width: 100%;
  height: 83vh;
  display: flex;
}

main nav {
  width: 15%;
  background-color: var(--color-secondary);
}

main section{
  width: 70%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
}

main section .article-main{
    background: linear-gradient(
    to bottom,
    var(--color-gradient-start),
    var(--color-gradient-mid),
    var(--color-gradient-end)
  );
  height: 40%;
  display: flex;
  align-items: center;
}

main section .img-song{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
}

main section .info-song{
  display: flex;
  flex-direction: column;
  text-align: start;
}

main section .article-secondary{
    background: linear-gradient(
    to bottom,
    var(--color-gradient-end),
    var(--color-secondary),
    var(--color-secondary)
  );
  height: 60%;
  display: flex;
  flex-direction: column;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

table tbody{
  width: 100%;
  overflow-y: auto;
  height: 100%;
}

table tbody tr > th{
  border-bottom: 0.5px solid gray;
}

table tbody tr:hover > td{
  background-color: var(--color-primary);
  cursor: pointer;
}

table tbody td>div, table tbody td>img{
  float: left;
}

table tbody td {
  height: 45px;
}

table tbody td:not(:first-child), table tbody th:not(:first-child){
  text-align: left;
}

table tbody td img{
  width: 9%;
  height: 100%;
}

table tbody td div{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100%;
}

main aside{
  width: 15%;
  background-color: var(--color-secondary);
}

footer{
  width: 100%;
  background-color: var(--color-primary);
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

footer div .controls .main-controls button img{
  width: 20px;
  height: 20px;
}

footer div{
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer #datosReproductor{
  justify-content: left !important;
  height: 100%;
  gap: 4%;
  margin-left: 2%;
}

footer #datosReproductor img{
  height: 90%;
  width: 20%;
}
footer #datosReproductor div{
  height: 90%;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
}

footer div .controls{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.main-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.main-controls button{
  display: flex;
  align-items: center;
  width: 30px !important;
  height: 30px !important;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.main-controls .big{
  border-radius: 100%;
  background-color: white;
  width: 35px !important;
  height: 35px !important;
}

.main-controls button img:hover{
  filter: invert(0.9);
}

.main-controls .big img:hover{
  filter: invert(0);
}

.main-controls .big:hover{
  background-color: rgb(219, 212, 212);
}

.main-controls button img{
  filter: invert(0.7);
  width: 20px;
  height: 20px;
}

.main-controls .big img{
  filter: invert(0);
  width: 20px !important;
  height: 20px !important;
}

.main-controls .big .icon-pause{
  display: none;
}

.time-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.time-controls progress{
  width: 90%;
}
