
@media (max-width: 600px){

    .search-container .btn-close .icon-close{
        width: 25px;
        height: 25px;
    }

    header .search-container form .input-add-song::placeholder{
        font-size: 0.9rem;
    }

    body{
        font-size: 0.7rem;
    }

    main section .article-main{
        height: 20%;
    }

    main section .article-secondary{
        height: 80%;
    }

    main section .info-song p{
        font-size: 1.5rem;
    }

    header .search-container{
        width: 70%;
    }

    footer #datosReproductor{
        width: 50%;
    }

    footer #reproductor{
        width: 50%;
    }

    footer div:nth-child(3){
        display: none;
    }

    .main-controls{
        justify-content: center;
        width: 80%;
        height: 100%;
        margin-bottom: 10%;
        align-content: center;
    }

    .main-controls #play{
        width: 50px !important;
        height: 50px !important;
        background-color: var(--color-spotify);
    }

    #play img{
        width: 40px!important;
        height: 40px !important;
    }

    #suffle, #prev, #next, #repeat{
        /* display: none; */
    }

    .controls .time-controls{
        display: none;
    }

    #nav, #aside{
        display: none;
    }

    table tbody td img{
        width: 25%;
    }

    footer #datosReproductor img{
        width: 30%;
    }

    footer #datosReproductor div{
        width: 70%;
    }
}
