
@media (max-width: 600px){

    body{
        font-size: 0.7rem;
    }

    header .search-container{
        width: 70%;
    }

    footer #datosReproductor{
        width: 80%;
    }

    footer div:nth-child(3){
        display: none;
    }

    .main-controls{
        justify-content: end;
        width: 80%;
        height: 100%;
        margin-bottom: 10%;
    }

    .main-controls #play{
        width: 50px !important;
        height: 50px !important;
        background-color: var(--color-spotify);
    }

    #play img{
        width: 40px!important;
        height: 40px !important;
    }

    #suffle, #prev, #next, #repeat{
        display: none;
    }

    .controls .time-controls{
        display: none;
    }

    #nav, #aside{
        display: none;
    }

    table tbody td img{
        width: 25%;
    }
}
